* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  color: black;
}

h1 {
  margin-top: 5%;
  text-align: center;
}

main {
  margin: 5%;
  display: grid;
  grid-gap: 1rem;
}
.item {
  border: 3px solid black;
  padding: 2%;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #ff7f50;
  font-weight: 600;
}

a.tickets {
  text-align: center;
  padding: 2em;
  background-color: #ff7f50;
}

div {
  display: grid;
  justify-items: space-between;
  margin-bottom: 5%;
}
